.container {
}
.container-wrapper {
    background-image: url(./../../shared/assets/images/banner-one-more.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding-top: 36px;
}
.banner-right {
    max-width: 404px;
}
.title {
    font-size: 52px;
    line-height: 68px;
    font-weight: 800;
}
.sub-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 8px;
}
.body {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: $neutrol-80-color;
    margin-bottom: 24px;
}
.action {
    display: flex;
    gap: 20px;
}
