.container {
    max-width: $default-layout-width;
    margin: 0 auto;
}
.background-container {
    background-color: $secondary-light-color;
    border-radius: 0 0 40px 40px;
}
.main {
    min-height: 100vh;
}
