.container {
    padding: 60px 0;
}
.container-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
}
.heading-bottom {
    font-size: 24px;
}
.container-right-mobile {
    display: none;
}
@media screen and (max-width: 767px) {
    .container-right {
        display: none;
    }
    .container-right-mobile {
        margin-top: 16px;
    }
}
