.container {
    display: flex;
    gap: 20px;
    margin-bottom: 60px;
}
.filter {
    max-width: 280px;
    width: 100%;
    &-heading {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px;
        margin-bottom: 14px;
    }
    &-mobile {
        display: none;
    }
}
.products {
    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 14px;
    }
    &-box {
        display: flex;
        align-items: center;
        gap: 14px;
    }
    &-heading {
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
    }
    &-amount {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        color: $neutrol-60-color;
    }

    &-bottom {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        gap: 20px;
        --spacing: 20px;
        --column: 3;
        --total-spacing: calc(calc(var(--column) - 1) * var(--spacing));
    }
}
.product {
    width: calc(calc((100% - var(--total-spacing)) / var(--column))) !important;
    min-height: 378px;
}

@media screen and (max-width: 1023px) {
    .container {
        flex-direction: column;
    }
    .products {
        &-bottom {
            --column: 3;
        }
    }
    .filter {
        display: none;
        &-mobile {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-btn {
            font-size: 16px;
            font-weight: 700;
            padding: 7px 10px 7px 10px;
        }
    }
    .products-sort {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .products {
        &-bottom {
            --column: 2;
            --spacing: 10px;
            gap: 10px;
        }
    }
    .product {
        min-height: unset !important;
    }
}
@media screen and (max-width: 413px) {
    .products {
        &-bottom {
            --column: 1;
        }
    }
}
