@font-face {
    font-family: SVNGilroy;
    src: url('/assets/fonts/SVNGilroyBold.otf');
    font-weight: 700;
}
@font-face {
    font-family: SVNGilroy;
    src: url('/assets/fonts/SVNGilroyLight.otf');
    font-weight: 600;
}