@font-face {
    font-family: SVNGilroy;
    src: url('./../shared/assets/fonts/Gilroy-Medium-500.ttf');
    font-weight: 500;
}
@font-face {
    font-family: SVNGilroy;
    src: url('./../shared/assets/fonts/Gilroy-SemiBold-600.ttf');
    font-weight: 600;
}
@font-face {
    font-family: SVNGilroy;
    src: url('./../shared/assets/fonts/Gilroy-Bold-700.ttf');
    font-weight: 700;
}
@font-face {
    font-family: SVNGilroy;
    src: url('./../shared/assets/fonts/Gilroy-ExtraBold-800.ttf');
    font-weight: 800;
}
