* {
    margin: 0;
    padding: 0;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    min-height: 120vh;
    font-size: 1.6rem;
    font-family: $font-family;
    font-weight: 500;
}
input,
textarea,
select,
button {
    font-family: inherit;
    border: none;
    outline: none;
}
input {
    line-height: normal;
}
label,
button {
    cursor: pointer;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
}
ul {
    list-style: none;
}
