$primary-main-color: #003459;
$primary-light-color: #0078CD;
$primary-dark-color: #00528C;
$primary-darker-color: #002A48;
$primary-contrast-text: #FFFFFF;


$secondary-main-color: #F7DBA7;
$secondary-light-color: #FCEED5;
$secondary-dark-color: #F1D092; 
$secondary-darker-color: #EEC77E; 
$secondary-contrast-text: #003459;

$error-main-color: #FF564F;
$error-light-color: "" ;
$error-dark-color: "" ; 
$error-dark-color: "" ; 
$error-darker-color: "" ; 
$error-contrast-text: #FDFDFD;


$success-main-color: #34C759;
$success-light-color: "" ;
$success-dark-color: "" ; 
$success-dark-color: "" ; 
$success-darker-color: "" ; 
$success-contrast-text: #FDFDFD;


$warning-main-color: #FF912C;
$warning-light-color: "" ;
$warning-dark-color: "" ; 
$warning-darker-color: "" ; 
$warning-contrast-text: #FDFDFD;


$info-main-color: #00A7E7;
$info-light-color: "" ;
$info-dark-color: "" ; 
$info-darker-color: "" ; 
$info-contrast-text: #FDFDFD;


$neutrol-100-color: #00171F;
$neutrol-80-color: #242B33;
$neutrol-60-color: #667479;
$neutrol-40-color: #99A2A5;
$neutrol-20-color: #CCD1D2;
$neutrol-10-color: #EBEEEF;
$neutrol-00-color: #FDFDFD;


$text-primary: $neutrol-60-color;
$text-secondary: $neutrol-60-color;
$text-disabled: $neutrol-60-color;

$primary-background-color: $neutrol-00-color;
$secondary-background-color: $neutrol-10-color;
$disabled-background-color: $neutrol-20-color;

$default-layout-width: 1440px;
$min-width-layout: 414px;
$font-family: "SVNGilroy", sans-serif;



