.container {
    // padding: 40px 130px;
}
.heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.heading-left {
    display: flex;
    align-items: center;
    gap: 8px;
}
.title {
}
.sub-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
.heading-right {
}
.brand-logo {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;

    margin-bottom: 40px;
    img {
        object-fit: contain;
        width: 100%;
    }
    .brand-logo-wrapper {
        max-width: 151px;
        width: 100%;
    }
}

.banner {
    background-color: #ffb775;
    border-radius: 20px;
    // min-height: 378px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('./../../assets/banner/banner-pet-seller-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    .banner-left {
        max-width: 448px;
        width: 100%;
        margin-left: 80px;
    }
    .title {
        font-weight: 800;
        font-size: 52px;
        line-height: 68px;
    }
    .sub-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;
        margin-bottom: 8px;
    }
    .body {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 42px;
    }
    .action {
        display: flex;
        gap: 20px;
    }
    img {
        position: relative;
        z-index: 10;
    }
}

@media screen and (max-width: 767px) {
    .container {
        display: none;
    }
}
